body {
	font-family: 'Varela Round', sans-serif;
}
h1 {
	color: white;
	padding-top: .4em;
	text-align: center;
}
form {
	max-width: 100%;
	padding: 10px 20px;
	position: relative;
}
label {
	font-size: 1.2em;
}
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	margin-bottom: 15px;
	width: 100%;
	/*height: auto;*/
	font-size: 1.125em;
	border-radius: 5px;
	border: none;
	padding: 15px 5px;
	background-color: #e8eeef;
}
button {
	padding: 19px 39px 18px 39px;
	/*color: #FFF;*/
	/*background-color: #4bc970;*/
	font-size: 1.4em;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	width: 100%;
	border: 1px solid  #b42d33;
	border-width: 1px 1px 3px;
	/*box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;*/
	margin-bottom: 10px;

}
footer {
	color: white;
	background-color: #b42d33;
	height: 30px;
	padding-top: 1rem;
	text-align: center;
}
.main-header {
	background-color: #b42d33;
	max-height: 100%;
	margin-top:-1.5em;
}
.main-nav a {
	display: block;
	text-align: center;
	padding: 10px 20px;
	color: white;
	text-transform: uppercase;
}
.col{
	padding-right: .5em;
	padding-left: .5em;
}
.landing p {
	text-align: justify;
}
.landing h2 {
	text-align: center;
}
.container {
	width: 90%;
	margin: 0 auto;
}
.container img {
	max-width: 100%;
}
.vertis_north,
.cloverleaf {
	padding-bottom: 1em;
	text-align: center;
	position: relative;
}
.caption {
	background: rgba(0,0,0,.5);
	color: white;
	position: absolute;
	font-size: 1.8em;
	width: 65%;
	top: 15%;
	left: 20%;
	height: 140px;
	padding-top: 1em;
	opacity: 0;
}
.caption:hover {
	opacity: 1;
	transition-duration: .5s;
}
.welcome { 
	padding-top: 1em;
}
.welcome img {
	padding-top: 1em;
}
.room {
	margin: 0 auto;
	max-width: 50%;
	text-align: center;
}
.room img {
	max-width: 80%;
}
.loc_photo{
	text-align: center;
	}

@media (min-width: 768px) {

h1 {
	float: left;
	text-align: left;
	font-size: 2.25em;
}	
.caption {
		font-size: 2.5em;
		width: 55%;
		top: 25%;
		left: 22%;
		height: 150px;
		padding-top: 1em;
	}
.main-nav {
		float: right;
	}
.main-nav li {
		display: inline-block;
		font-size: 1em;
		padding-top: 2.8em;
	}
.room {
		float: left;
		max-width: 45%;
		height: 400px;
		padding-bottom: 200px;
	}
.room img {
		max-width: 70%;
		/*max-height: 30%;*/
	}
.price div:nth-last-of-type(-n+2) {
	/*background-color:#ff0000;*/
	padding-bottom: 10px;
}
.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}

@media (min-width: 1024px) {

	.container {
		width: 90%;
		margin: 0 auto;
	}
	.wrapper {
		padding-left: 3em;
	}
	.vertis_north,
	.cloverleaf{
		max-width: 40%;
		float: left;
		padding: 1em 3em 2em 2em;
	}
	.landing h2 {
		text-align: left;
	}
	.caption {
		font-size: 2.4em;
		width: 78%;
		top: 25%;
		left: 9%;
		height: 150px;
		padding-top: 1em;
	}
	.welcome {
		text-align: center;
	}
	.welcome h2,
	.welcome p {
		text-align: justify;
	}
	.room {
		max-width: 30%;
	}
	.room img {
		max-width: 80%;
	}
	.price div:nth-last-of-type(-n+3) {
		/*background-color:#ff0000;*/
		padding-bottom: 50px;
	}
	.cform,
	.loc_photo {
		max-width: 50%;
		float:left;
	}
	.loc_photo img{
		padding: 40px 40px 20px 40px;
	}
	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
}
